.paginator {
  padding: 10px;
}

.noSelectedPage {
  border: 1px solid red;
}

.paginator {
  margin: 10px;
}

.pageNumber {
  padding: 0;
  background-color: transparent;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: 12px;
}

.pageNumber.selectedPage {
  background-color: #8757df;
  color: #fff;
}