.nav {
  grid-area: nav;
  background-color: #10acb180;
  padding: 10px;
}

.navList {
  margin: 0;
  list-style-type: none;
}

.navItem {
  margin: 10px 0;
}

.navLink {
  color: #403f3f;
}

.activeLink {
  color: #fff;
}