.newPost {
  display: flex;
  position: relative;
  width: 500px;
}

.posts {
  padding: 20px;
}

.postsText {
  display: block;
  margin-bottom: 20px;
  color: #8757df;
  font-size: 20px;
  font-weight: bold;
}

.inputPost {
  margin-right: 10px;
  width: 500px;
  height: 40px;
  outline: none;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
}

.addPost {
  border-radius: 0;
  width: 80px;
}