.posts {
  padding: 20px;
}

.allPost {
  padding: 20px;
}

.postsText {
  display: block;
  margin-bottom: 20px;
}

.newPost {
  display: flex;
}

.inputPost {
  margin-right: 10px;
  width: 500px;
  height: 40px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
}

.addPost {
  display: block;
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.addPost:hover {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  transition: background 0.3s ease, color 0.3s ease;
}
