.nav {
  grid-area: nav;
  background-color: #8757df;
  padding: 10px;
}

.loginBlock {
  position: relative;
  margin-bottom: 20px;
}

.isAuthBtn {
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.navList {
  margin: 0;
  list-style-type: none;
}

.navItem {
  margin: 10px 0;
}

.navLink {
  color: #403f3f;
}

.activeLink {
  color: #fff;
}

.disabledLink {
  pointer-events: none;
  opacity: 0.3;
}