.inputPost {
  margin-right: 10px;
  width: 500px;
  height: 40px;
  outline: none;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
}

.error {
  border: 1px solid red;

}

.textError {
  display: block;
  font-size: 10px;
  font-weight: bold;
  color: red;
  padding: 5px 0;
}
