html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #4f4f4f;
  background-color: #d7c1ff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}



ul {
  list-style: none;
  padding: 0;
}

.site-container {
  overflow: hidden;
}

/*.is-hidden {*/
/*  display: none !important; // stylelint-disable-line declaration-no-important*/
/*}*/

/*.for-mobile {*/
/*  display: none;*/

/*@include mobile {*/
/*  display: block;*/
/*}*/
/*}*/

/*.error {*/
/*  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important*/
/*}*/

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 25px;
  display: grid;
  max-width: 1200px;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 100px 1fr;
  grid-auto-columns: 2fr 10fr;
}

/*.js-focus-visible :focus:not(.focus-visible) {*/
/*  outline: none;*/
/*}*/



button {
  border: none;
  outline: none;
  background-color: #e5dff7;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #8757df;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}





.rightContent {
  grid-area: content;
  background-color: #f2f2fa;
}
