.newMessageBlock {
  display: flex;
  align-items: flex-start;
}

.sendNewMessageBtn {
  border: none;
  border-radius: 0;
  outline: none;
  width: 80px;
  height: 40px;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsList {
  padding: 0 10px;
}

.messages {
  padding: 0 10px;
  height: 300px;
  overflow-y: auto;
}

.newMessageText {
  border: none;
  outline: none;
  resize: none;
  width: 300px;
  padding: 10px;
  margin-right: 20px;
}

.messagesBlock {
  padding: 20px 10px;
}


